In [1]:
import pandas as pd

### Temperature vs Public Transport

In [23]:
df = pd.read_csv('../cars_per_ppl_sample.csv')
# df[['Country_sample', 'D3_Cityrecode']].to_csv(
    # '../cars_per_ppl_sample_countries.csv',
    # index=False,
# )
df[['Country_sample', 'D3_Cityrecode']].to_csv(
    '../has_metro.csv',
    index=False
)

In [12]:
df

    Country_sample           D3_Cityrecode   cars_per_thousand_ppl
0          Austria                    Wien                     574
1          Belgium     Bruxelles / Brussel                     506
2          Belgium               Antwerpen                     506
3          Belgium                   Liège                     506
4      Switzerland                  Zürich                     546
5      Switzerland                  Genève                     546
6           Cyprus                Lefkosia                     475
7   Czech Republic                   Praha                     611
8          Germany                  Berlin                     586
9          Germany                 Hamburg                     586
10         Germany                 München                     586
11         Germany                   Essen                     586
12         Germany                 Leipzig                     586
13         Germany                Dortmund                     586
14         Germany                 Rostock                     586
15         Estonia                 Tallinn                     638
16          Greece                  Athina                     525
17           Spain                  Madrid                     541
18           Spain               Barcelona                     541
19           Spain                  Málaga                     541
20         Finland  Helsinki / Helsingfors                     494
21         Finland         Oulu / Uleåborg                     494
22          France                   Paris                     572
23          France              Strasbourg                     572
24          France                Bordeaux                     572
25          France                   Lille                     572
26          France                  Rennes                     572
27          France               Marseille                     572
28         Croatia                  Zagreb                     664
29         Hungary                Budapest                     422
30         Hungary                 Miskolc                     422
31         Iceland               Reykjavík                     629
32           Italy                    Roma                     681
33           Italy                  Napoli                     681
34           Italy                  Torino                     681
35           Italy                 Palermo                     681
36           Italy                 Bologna                     681
37       Lithuania                 Vilnius                     480
38      Luxembourg              Luxembourg                     695
39          Latvia                    Riga                     410
40     Netherlands               Amsterdam                     525
41     Netherlands               Rotterdam                     525
42     Netherlands               Groningen                     525
43          Norway                    Oslo                     530
44          Poland                Warszawa                     703
45          Poland                  Kraków                     703
46          Poland                  Gdańsk                     703
47          Poland               Białystok                     703
48          Serbia                 Beograd                     356
49          Sweden               Stockholm                     477
50          Sweden                   Malmö                     477
51        Slovenia               Ljubljana                     580
52        Slovakia              Bratislava                     501
53  United Kingdom                 Glasgow                     603
54  United Kingdom              Manchester                     603
55  United Kingdom                 Cardiff                     603
56  United Kingdom    Tyneside conurbation                     603

In [3]:
df = pd.read_csv('../temperature_sample.csv')

In [ ]:
df['avg_jan_temp_c'] = ((df[' avg_jan_temp_f'] - 32) * 5/9).round(2)
df = df.drop(' avg_jan_temp_f', axis=1)
df

    Country_sample           D3_Cityrecode  avg_jan_temp_c
0          Austria                    Wien            3.74
1          Belgium     Bruxelles / Brussel            5.43
2          Belgium               Antwerpen            5.57
3          Belgium                   Liège            4.18
4      Switzerland                  Zürich            3.22
5      Switzerland                  Genève            4.08
6           Cyprus                Lefkosia           23.36
7   Czech Republic                   Praha            2.73
8          Germany                  Berlin            4.99
9          Germany                 Hamburg            4.99
10         Germany                 München            4.39
11         Germany                   Essen            4.99
12         Germany                 Leipzig            4.99
13         Germany                Dortmund            4.99
14         Germany                 Rostock            4.99
15         Estonia                 Tallinn           -1.16
16          Greece                  Athina           10.64
17           Spain                  Madrid            5.56
18           Spain               Barcelona            8.97
19           Spain                  Málaga           12.29
20         Finland  Helsinki / Helsingfors           -1.57
21         Finland         Oulu / Uleåborg           -1.57
22          France                   Paris            5.99
23          France              Strasbourg            5.07
24          France                Bordeaux            6.97
25          France                   Lille            5.74
26          France                  Rennes            5.74
27          France               Marseille            7.41
28         Croatia                  Zagreb            4.29
29         Hungary                Budapest            3.98
30         Hungary                 Miskolc            3.98
31         Iceland               Reykjavík           -1.84
32           Italy                    Roma            9.82
33           Italy                  Napoli            9.82
34           Italy                  Torino            4.57
35           Italy                 Palermo           12.77
36           Italy                 Bologna            5.88
37       Lithuania                 Vilnius           -0.52
38      Luxembourg              Luxembourg            3.31
39          Latvia                    Riga           -0.16
40     Netherlands               Amsterdam            6.07
41     Netherlands               Rotterdam            6.11
42     Netherlands               Groningen            6.11
43          Norway                    Oslo           -3.01
44          Poland                Warszawa            2.29
45          Poland                  Kraków            2.60
46          Poland                  Gdańsk            2.60
47          Poland               Białystok            2.60
48          Serbia                 Beograd            5.25
49          Sweden               Stockholm           -0.92
50          Sweden                   Malmö            3.58
51        Slovenia               Ljubljana            1.68
52        Slovakia              Bratislava            3.97
53  United Kingdom                 Glasgow            4.69
54  United Kingdom              Manchester            5.32
55  United Kingdom                 Cardiff            5.84
56  United Kingdom    Tyneside conurbation            5.84